<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="100">
    <form ngNoForm
          action="https://node.developer.yodlee.com/authenticate/restserver/"
          method="POST">
      <p>&nbsp;</p>
      <p>
        <input name="app" type="hidden" value="10003600">
        <input name="rsession" type="hidden" id="rsession"><br/>
        <input name="token" type="hidden" id="token"><br/>
        <input name="requestReq" type="hidden" value="true">
      </p>
      <p>&nbsp;</p>
      <p>
        <button md-raised-button
                color="primary"
                type="submit"
                [disabled]="!loaded"
                fxFlex="40%" fxFlexOffset="30%" fxLayoutAlign="center">
          Launch FastLink
        </button>
      </p>
    </form>
  </div>
</div>

