<md-toolbar color="basic" *ngIf="_router.url != '/fastlink'">
  <button md-button routerLink="/">
    <md-icon>home</md-icon>
    {{title}}
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button color="primary" routerLink="/editor">Editor</button>
    <button md-button routerLink="/login">Login</button>
    <button md-button routerLink="/register">Register</button>
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLink="/editor">Editor</button>
  <button md-menu-item routerLink="/login">Login</button>
  <button md-menu-item routerLink="/register">Register</button>
</md-menu>
<router-outlet></router-outlet>

