<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="100">
    <form ngNoForm
          action="https://node.developer.yodlee.com/authenticate/restserver/"
          method="POST">
      <p>&nbsp;</p>
      <p>
        <input placeholder="AppId" type="hidden" name="app" value="10003600">
      </p>
      <p>
        <md-form-field fxFlex="100">
          <input mdInput placeholder="UserSession" name="rsession">
        </md-form-field>
      </p>
      <p>
        <md-form-field fxFlex="100">
          <input mdInput placeholder="Fastlink Token" name="token">
        </md-form-field>
      </p>      
      <p>
        <input placeholder="RequestReq" name="requestReq" type="hidden" value="true">
      </p>
      <p>&nbsp;</p>
      <p>
        <button md-raised-button
                color="primary"
                type="submit"
                fxFlex="40%" fxFlexOffset="30%" fxLayoutAlign="center">
          Launch FastLink
        </button>
      </p>
    </form>
  </div>
</div>

